In [3]:
import numpy as np 
import pandas as pd
import os

In [8]:
columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
           'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

base_path = '/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease'

In [9]:
for region in ['cleveland','switzerland','hungarian']:
    input_file = os.path.join(base_path, f'processed.{region}.data')
    output_files = os.path.join(base_path, f'{region}_heart_disease.csv')

    try:
        df = pd.read_csv(input_file, names=columns, na_values='?')
        df.to_csv(output_files, index = False)
        print(f'{region} 데이터 변환 완료 : {output_files}')
    except Exception as e:
        print(f"{region} 오류:",e)

cleveland 데이터 변환 완료 : /home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/cleveland_heart_disease.csv
switzerland 데이터 변환 완료 : /home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/switzerland_heart_disease.csv
hungarian 데이터 변환 완료 : /home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/hungarian_heart_disease.csv

In [10]:
cleveland_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/cleveland_heart_disease.csv')
hungarian_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/hungarian_heart_disease.csv')
swiss_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/switzerland_heart_disease.csv')

# 각 데이터셋의 기본 정보 확인
print("Cleveland 데이터셋 shape:", cleveland_df.shape)
print("\nHungarian 데이터셋 shape:", hungarian_df.shape)
print("\nSwiss 데이터셋 shape:", swiss_df.shape)

# missing value 확인
print("\nCleveland missing values:")
print(cleveland_df.isnull().sum())
print("\nHungarian missing values:")
print(hungarian_df.isnull().sum())
print("\nSwiss missing values:")
print(swiss_df.isnull().sum())

Cleveland 데이터셋 shape: (303, 14)

Hungarian 데이터셋 shape: (294, 14)

Swiss 데이터셋 shape: (123, 14)

Cleveland missing values:
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
num         0
dtype: int64

Hungarian missing values:
age           0
sex           0
cp            0
trestbps      1
chol         23
fbs           8
restecg       1
thalach       1
exang         1
oldpeak       0
slope       190
ca          291
thal        266
num           0
dtype: int64

Swiss missing values:
age           0
sex           0
cp            0
trestbps      2
chol          0
fbs          75
restecg       1
thalach       1
exang         1
oldpeak       6
slope        17
ca          118
thal         52
num           0
dtype: int64

In [11]:
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

In [12]:
diabetes = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/diabetes.csv")

In [17]:
heart_ = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/heart_failure_clinical_records_dataset.csv")

In [23]:
# 컬럼명 정의
columns = ['age', 'sex', 'chest_pain', 'resting_bp', 'cholesterol', 'fasting_blood_sugar', 
           'rest_ecg', 'max_heart_rate', 'exercise_angina', 'oldpeak', 'slope', 'colored_vessels',
           'thal', 'target']

# 데이터 읽기
try:
    heart_statlog = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/heart.dat', 
                               sep=' ',  # 공백으로 구분
                               names=columns)
    
    print("데이터 shape:", heart_statlog.shape)
    print("\n처음 5행:")
    print(heart_statlog.head())
    print("\n기본 정보:")
    print(heart_statlog.info())
    print("\n레이블 분포:")
    print(heart_statlog['target'].value_counts())
    
except Exception as e:
    print("파일 읽기 중 오류 발생:", e)

데이터 shape: (270, 14)

처음 5행:
    age  sex  chest_pain  resting_bp  cholesterol  fasting_blood_sugar  \
0  70.0  1.0         4.0       130.0        322.0                  0.0
1  67.0  0.0         3.0       115.0        564.0                  0.0
2  57.0  1.0         2.0       124.0        261.0                  0.0
3  64.0  1.0         4.0       128.0        263.0                  0.0
4  74.0  0.0         2.0       120.0        269.0                  0.0

   rest_ecg  max_heart_rate  exercise_angina  oldpeak  slope  colored_vessels  \
0       2.0           109.0              0.0      2.4    2.0              3.0
1       2.0           160.0              0.0      1.6    2.0              0.0
2       0.0           141.0              0.0      0.3    1.0              0.0
3       0.0           105.0              1.0      0.2    2.0              1.0
4       2.0           121.0              1.0      0.2    1.0              1.0

   thal  target
0   3.0       2
1   7.0       1
2   7.0       2
3   7.0       1
4   3.0       1

기본 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  270 non-null    float64
 1   sex                  270 non-null    float64
 2   chest_pain           270 non-null    float64
 3   resting_bp           270 non-null    float64
 4   cholesterol          270 non-null    float64
 5   fasting_blood_sugar  270 non-null    float64
 6   rest_ecg             270 non-null    float64
 7   max_heart_rate       270 non-null    float64
 8   exercise_angina      270 non-null    float64
 9   oldpeak              270 non-null    float64
 10  slope                270 non-null    float64
 11  colored_vessels      270 non-null    float64
 12  thal                 270 non-null    float64
 13  target               270 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 29.7 KB
None

레이블 분포:
target
1    150
2    120
Name: count, dtype: int64

In [26]:
heart_statlog['target'].unique()

array([2, 1])

In [29]:
heart_statlog

,age,sex,chest_pain,resting_bp,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate,exercise_angina,oldpeak,slope,colored_vessels,thal,target
0,70.0,1.0,4.0,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,2
1,67.0,0.0,3.0,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,1
2,57.0,1.0,2.0,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,2
3,64.0,1.0,4.0,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,1
4,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,1.0,3.0,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,1
266,44.0,1.0,2.0,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,1
267,56.0,0.0,2.0,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,1
268,57.0,1.0,4.0,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,1
269,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2

In [27]:
heart = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart.csv")

In [28]:
heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,no
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,yes
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,no
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,yes
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,no
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,yes
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,yes
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,yes
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,yes
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,no

In [30]:
framingham = pd.read_csv("/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/framingham.csv")

In [31]:
framingham

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [32]:
# 컬럼명 준비 (SPECT 데이터는 22개의 feature + 1개의 label)
columns = ['target'] + [f'F{i}' for i in range(1, 23)]

# 훈련 데이터와 테스트 데이터 읽기
try:
    train_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/SPECT.train', 
                          names=columns)
    test_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/SPECT.test', 
                          names=columns)
    
    # 전체 데이터 합치기 (나중에 필요하다면)
    spect_full = pd.concat([train_df, test_df], axis=0, ignore_index=True)
    
    print("Train 데이터 shape:", train_df.shape)
    print("Test 데이터 shape:", test_df.shape)
    print("전체 데이터 shape:", spect_full.shape)
    print("\n처음 5행:")
    print(spect_full.head())
    print("\n레이블 분포:")
    print(spect_full['target'].value_counts())
    
except Exception as e:
    print("파일 읽기 중 오류 발생:", e)

Train 데이터 shape: (80, 23)
Test 데이터 shape: (187, 23)
전체 데이터 shape: (267, 23)

처음 5행:
   target  F1  F2  F3  F4  F5  F6  F7  F8  F9  ...  F13  F14  F15  F16  F17  \
0       1   0   0   0   1   0   0   0   1   1  ...    1    1    0    0    0
1       1   0   0   1   1   0   0   0   1   1  ...    1    1    0    0    0
2       1   1   0   1   0   1   0   0   1   0  ...    1    0    0    0    0
3       1   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0
4       1   0   0   0   0   0   0   0   1   0  ...    1    0    1    1    0

   F18  F19  F20  F21  F22
0    0    0    0    0    0
1    0    0    0    0    1
2    0    0    0    0    0
3    0    0    1    1    1
4    0    0    0    0    0

[5 rows x 23 columns]

레이블 분포:
target
1    212
0     55
Name: count, dtype: int64

In [35]:
test_df

,target,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22
0,1,1,0,0,1,1,0,0,0,1,...,0,1,1,1,0,0,1,1,0,0
1,1,1,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,1,0,1,0,0,1,...,0,1,1,0,0,0,0,0,0,1
3,1,0,1,1,1,0,0,1,0,1,...,1,1,0,1,0,0,0,0,1,0
4,1,0,0,1,0,0,0,0,1,0,...,1,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,0,1,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
184,0,1,0,1,0,1,0,0,1,0,...,1,0,1,1,0,0,0,0,0,0
185,0,1,0,1,0,1,0,0,1,1,...,0,1,0,1,0,0,0,0,0,0
186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# 기존 데이터 다시 읽기
cleveland_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/cleveland_heart_disease.csv')
hungarian_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/hungarian_heart_disease.csv')
swiss_df = pd.read_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/switzerland_heart_disease.csv')

# Binary로 변환 (0은 그대로 0, 1-4는 1로 변환)
def to_binary(x):
    return 1 if x > 0 else 0

# 각 데이터셋에 대해 새로운 binary 레이블 컬럼 추가
cleveland_df['target_binary'] = cleveland_df['num'].apply(to_binary)
hungarian_df['target_binary'] = hungarian_df['num'].apply(to_binary)
swiss_df['target_binary'] = swiss_df['num'].apply(to_binary)

# 결과 확인
print("Cleveland binary label 분포:")
print(cleveland_df['target_binary'].value_counts())
print("\nHungarian binary label 분포:")
print(hungarian_df['target_binary'].value_counts())
print("\nSwiss binary label 분포:")
print(swiss_df['target_binary'].value_counts())

# 새로운 CSV 파일로 저장
cleveland_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/cleveland_binary.csv', index=False)
hungarian_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/hungarian_binary.csv', index=False)
swiss_df.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/switzerland_binary.csv', index=False)

Cleveland binary label 분포:
target_binary
0    164
1    139
Name: count, dtype: int64

Hungarian binary label 분포:
target_binary
0    188
1    106
Name: count, dtype: int64

Swiss binary label 분포:
target_binary
1    115
0      8
Name: count, dtype: int64

In [37]:
# Statlog 데이터를 binary로 변환하고 저장
heart_statlog['target_binary'] = heart_statlog['target'].map({1: 0, 2: 1})

# CSV로 저장
heart_statlog.to_csv('/home/eungyeop/LLM/tabular/ProtoLLM/dataset/data/table/heart_disease/heart_statlog.csv', index=False)

# 확인
print("Statlog 데이터 shape:", heart_statlog.shape)
print("\nStatlog binary label 분포:")
print(heart_statlog['target_binary'].value_counts())

Statlog 데이터 shape: (270, 15)

Statlog binary label 분포:
target_binary
0    150
1    120
Name: count, dtype: int64